#content{
    background: 
    /*shape*/
    linear-gradient(115deg, transparent 89%, #e8ddcb 0) -128px -96px,
    linear-gradient(-115deg, transparent 89%, #cdb380 0) 22px -96px,
    linear-gradient(-115deg, #036564 11%, transparent 0) -128px 54px,
    linear-gradient(115deg, #033649 11%, transparent 0) 22px 54px,
    
    /*shape*/
    linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -128px -22px,
    linear-gradient(25deg, transparent 89%, #cdb380 0) -128px 128px,
    linear-gradient(25deg, #036564 11%, transparent 0) 22px -22px,
    linear-gradient(-25deg, transparent 89%, #033649 0) 22px 128px,
    /*shape*/
    linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -53px -96px,
    linear-gradient(25deg, transparent 89%, #cdb380 0) -53px 54px,
    linear-gradient(25deg, #036564 11%, transparent 0) 97px -96px,
    linear-gradient(-25deg, transparent 89%, #033649 0) 97px 54px,
    /*shape*/
    linear-gradient(115deg, transparent 89%, #e8ddcb  0) -53px -21px,
    linear-gradient(-115deg, #cdb380 11%, transparent 0) -53px 129px,
    linear-gradient(-115deg, transparent 89%, #036564 0) 97px -21px,
    linear-gradient(115deg, #033649 11%, transparent 0) 97px 129px;
    
    background-color: #fff;
    background-size: 150px 150px;
    background-repeat: repeat;
}

.slidecontainer{
    margin-top : 20px;
    margin-bottom : 20px;
    display : flex;
    justify-content: center;
}

.btn-toolbar{
    display : flex;
    justify-content: center;
}

.button_table{
    display : flex;
    justify-content: center;
}

.info {
    position : absolute;
}

textarea {
    resize : none;
    overflow-x : hidden;
    overflow-y : hidden;
}

.dropdown-menu {
    min-width : inherit;
}

.color-canvas {
    cursor : crosshair;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
    background-color: #393939;
    border-color: #393939;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited, .btn-info:focus {
    background-color: #4E8098;
    border-color: #4E8098;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success:focus {
    background-color: #96ceb4;
    border-color: #96ceb4;
}

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited, .btn-outline-danger:focus {
    color : #d9534f;
    border-color: #d9534f;
}

